<div class="overflow-auto mt-3">
<a href="/blogpost/{{id}}" class="overflow-auto mt-3 text-decoration-none">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">{{title}}</h3>
      <div class="d-flex w-100 justify-content-between">
        <h6>By {{user.name}}</h6>
        <small>created on {{format_date created_at}}</small>
      </div>
    </div>
    <div class="d-flex w-100 justify-content-between">
        <a class="text-decoration-none btn btn-primary" href="/dashboard/create">Edit</a>
        <a class="text-decoration-none btn btn-primary" href="/dashboard/create">Delete</a>
    </div>
  </div>
</a>
</div>