<div class="card text-center">
  <div class="card-header fs-2">
    OH NO!
  </div>
  <div class="card-body">
    <h5 class="card-title">Looks like you need to be logged in to view this post.</h5>
    <p class="card-text">Please log in or sign up to continue.</p>
    <div class="d-flex justify-content-evenly">
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/login" class="btn btn-primary">Sign up</a>
    </div>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>